.modal-header {
  position: relative;
  padding-right: 3rem !important;
}

.modal-header .btn-close {
  position: absolute !important;
  right: 1rem !important;
  top: 1rem !important;
  padding: 0.5rem !important;
  margin: 0 !important;
}

.modal-title {
  width: 100%;
}

/* Login Modal specific styles */
.login-modal .modal-content {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0% !important;
  border-radius: 5px !important;
}

@media (max-width: 768px) {
  .login-modal .modal-content {
    max-width: 90% !important;
  }
}
